<h3>Request Book</h3>
<% if current_user.requested?(book) %>
  <span>You have already requested this book, wait for an answer</span>
<% else %>
  <%= form_for([book, book.requests.new]) do |r| %>
    <%= r.label 'Date' %>
    <%= r.date_field :request_date %>
    <%= r.submit 'Request' %>
  <% end %>

<% end %>

<% if flash.key?(:save_error) %>
  <div class="error-box">
    <span class="error-message"> <%= flash[:save_error] %> </span>
  </div>
<% end %>
