<div class="book-info-box">
  <%= image_tag(book.image, alt: book.title) %>
  <div class="book-info">
    <h1><%= book.title %></h1>
    <h3>ISBN</h3>
    <%= book.isbn %>
    <h3>Year of Published</h3>
    <%= book.year %>
    <h3>Author</h3>
    <%= "#{book.author.first_name}  #{book.author.last_name}"%>
    <%= render 'request_book' %>
  </div>
</div>
<div class="divider-line gray"></div>
<div class="comment-box">
  <h1>Comment List</h1>
  <% book.comments.each do |comment| %>
    <div class="comment">
      <div class="rating-box">
        <%= "#{comment.user.email} - " %>
        <div class="user-rating"></div>
        <span hidden><%= comment.rating %></span>
      </div>
      <i><%= comment.text %></i>
    </div>
  <% end %>
</div>
<div class="divider-line gray"></div>
<div class="new-comment-box">
  <%= form_for([book, book.comments.new]) do |c| %>
    <div class="rating">
      <h1>Add Comment</h1>
      <div class="new-rating-box">
        <%= c.hidden_field :rating %>
      </div>
    </div>
    <%= c.text_field :text %>
    <%= c.submit 'Add Comment' %>
  <% end %>
</div>
